{% extends "base_generic.html" %}

{% block title %}Articles for {{ year }}{% endblock %}

{% block content %}
<h1>Articles for {{ year }}</h1>
<li><a href="1"> January</a></li>
<li><a href="2"> February</a></li>
<li><a href="3"> March</a></li>
<li><a href="4"> April</a></li>
<li><a href="5"> May</a></li>
<li><a href="6"> June</a></li>
<li><a href="7"> July</a></li>
<li><a href="8"> August</a></li>
<li><a href="9"> September</a></li>
<li><a href="10"> October</a></li>
<li><a href="11"> November</a></li>
<li><a href="12"> December</a></li>
{% endblock %}